*  ,*::after , *::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* variable declare */
:root {
    --background_color: #000;
    --font_color: #fff;
}
/* deafult value  */
body { 
    background-color: var(--background_color);
    color: var(--font_color);
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

/* reusable css */


.container { 
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    user-select: none;
}

.container .image { 
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;   
}